<template>
  <ion-content>
    <ion-grid class="home-grid">
      <ion-list size="12" lines="full">
        <ion-row v-for="item in order.product" :key="item.id">
          <ion-col>
            <ion-item class="second-col">
              <!--color="success"-->
              <ion-text>
                <p>{{ item.name }}</p>
              </ion-text>
            </ion-item>
          </ion-col>
          <!-- <ion-col v-if="order.status !== 5">
            <span class="third-col"
              ><Status :status="parseInt(order.status)"
            /></span>
            <span v-if="order.cell != 0">Ячейка: {{ order.cell }}</span>
          </ion-col> -->
        </ion-row>
      </ion-list>
    </ion-grid>
  </ion-content>
</template>

<script>
import * as allIcons from 'ionicons/icons'
// import Status from '../modalStatusSclad'

export default {
  props: ['order'],
  components: {
    // Status,
  },
  data() {
    return {
      i: allIcons,
    }
  },
}
</script>
<style>
.home-grid {
  margin: 0;
  padding: 0;
}
</style>
