<!-- Модал статусов в мобильном приложении -->
<template>
  <div>
    <ion-icon
      name="radio-button-on-outline"
      :color="statusColor[status]"
    ></ion-icon>
  </div>
</template>

<script>
import { radioButtonOnOutline } from 'ionicons/icons'
import { addIcons } from 'ionicons'

addIcons({
  'ios-radio-button-on-outline': radioButtonOnOutline,
  'md-radio-button-on-outline': radioButtonOnOutline,
})

export default {
  props: {
    status: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      statusColor: {
        0: 'light', // Новый заказ
        1: 'warning', // Начало сборки
        2: 'secondary', // Заказ готов
        3: 'success', // Заказ готов и мастер оповещен
        4: 'danger', // Ошибка в заказе
      },
    }
  },
  methods: {},
  mounted() {},
}
</script>

<style lang="css" scoped>
ion-icon {
  color: aliceblue;
  border: 1px solid black;
  border-radius: 50%;
}
</style>
