<!-- Модал подтверждения заказов на мобильном приложении -->
<template>
  <modal
    @before-open="beforeOpen"
    name="modalChangeApp"
    :height="115"
    :width="360"
    :clickToClose="false"
  >
    <div>
      <ion-header>
        <ion-toolbar>
          <ion-title size="small">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-row>
        <ion-coL>
          <ion-button @click="clickCSatatus" color="success"
            >Уже в пути</ion-button
          >
        </ion-coL>
      </ion-row>
    </div>
  </modal>
</template>

<script>
/* eslint-disable */
import { eventBus } from '../../eventBus'
import api from '../../API/api'

export default {
  name: 'modalChangeApp',
  data() {
    return {
      title: 'Ожидает подверждения!!!',
      order: {},
    }
  },
  methods: {
    beforeOpen(event) {
      this.order = event.params.order
    },
    updateStatus() {
      eventBus.onStatusChange(this.order)
    },
    clickCSatatus() {
      const self = this
      this.order.status = 3
      let order = this.order,
        orderId = this.order._id,
        cell = this.order.cell
      api
        .clickAssembly(
          order.status,
          orderId,
          cell,
          this.order.dateAssembly,
          this.order.dateDone,
          (this.order.dateDone_ready = new Date()),
          this.order.dateErr,
          this.order.dateClose
        )
        .then((res) => {
          const isErrors = res.data.isErrors
          if (!isErrors) {
            this.$modal.hide('modalChangeApp')
          }
        })
        .catch((error) => console.log(error))
    },
  },
  watch: {
    order: {
      handler: function() {
        this.updateStatus()
      },
      deep: true,
    },
  },
  mounted() {},
}
</script>

<style scoped>
ion-button {
  width: 280px;
}
ion-title {
  font-size: 20px;
  color: red;
}
</style>
<style>
.vm--modal {
  border-radius: 20px;
}
</style>
