<!-- Страница мастера (мобильное приложение)  -->
<template>
  <ion-page>
    <ion-header>
      <ion-toolbar class="app-header" color="primary">
        <ion-button
          class="btn-haeder"
          slot="start"
          @click="back"
          v-show="!show"
        >
          <ion-icon slot="icon-only" :src="i.arrowBack"></ion-icon>
        </ion-button>
        <ion-title> Заявки мастера</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <appItemInOrder v-show="!show" :order="order" />
      <Modal />

      <div v-show="show">
        <ion-refresher slot="fixed" @ionRefresh="getOrders($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-grid class="home-grid">
          <ion-list-header>
            <ion-label>Список заявок</ion-label>
          </ion-list-header>
          <ion-list size="12">
            <ion-row
              v-for="orders in ORDERS"
              :key="orders.id"
              @click="openItem(orders)"
            >
              <ion-col v-if="orders.status !== 5">
                <span class="first-col">
                  <i>({{ orders.orderDate }} -<br />{{ orders.orderId }})</i>
                </span>
              </ion-col>

              <ion-col v-if="orders.status !== 5">
                <span class="second-col">{{ orders.desc.toUpperCase() }}</span>
              </ion-col>

              <ion-col v-if="orders.status !== 5">
                <span class="third-col"
                  ><Status :status="parseInt(orders.status)"
                /></span>
                <span v-if="orders.cell != 0">Ячейка: {{ orders.cell }}</span>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-grid>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
/* eslint-disable */

// import api from '../API/api'
import Status from '../components/app/modalStatusApp'
import Modal from '../components/app/modalChangeApp'
import appItemInOrder from '../components/app/appItemInOrder'
import * as allIcons from 'ionicons/icons'

import { mapGetters } from 'vuex'
import { BackgroundMode } from '@ionic-native/background-mode'
import { Plugins } from '@capacitor/core'

export default {
  name: 'AppPage',
  components: {
    Status,
    Modal,
    appItemInOrder,
  },
  computed: {
    ...mapGetters(['ORDERS']),
  },

  data() {
    return {
      i: allIcons,
      show: true,
      order: '',
    }
  },
  methods: {
    openItem(order) {
      this.order = order
      this.show = false
    },
    back() {
      this.show = true
    },
    alarmRun() {
      // Play audio
      function playAudio(url) {
        // Play the audio file at url
        let my_media = new Media(
          url,
          // success callback
          function() {
            console.log('playAudio():Audio Success')
          },
          // error callback
          function(err) {
            console.log('playAudio():Audio Error: ' + err)
          }
        )
        // Play audio
        my_media.play()
      }
      playAudio('http://truckparts18.ru/radar.mp3')
    },
    vibration() {
      let pattern = [2000, 1000, 2000, 1000]
      navigator.vibrate(pattern)
    },
    getOrders(event = undefined) {
      this.$store.dispatch('GET_ORDERS')

      if (event) {
        event.target.complete()
      }
    },
    getStatus() {
      if (this.ORDERS != null) {
        this.ORDERS.map((order) => {
          if (order.status == 2) {
            this.$modal.show('modalChangeApp', { order })
            this.vibration()
            this.alarmRun()
            BackgroundMode.wakeUp()
            // Turn screen on and show app even locked
            BackgroundMode.unlock()
            BackgroundMode.moveToForeground()
          }
        })
      }
    },
  },
  mounted() {
    setInterval(() => {
      this.$store.dispatch('GET_ORDERS')
      this.getStatus()
    }, 3000)
  },
}
</script>

<style>
.app-header {
  height: 55px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.first-col {
  justify-content: flex-start;
}
ion-list-header {
  justify-content: center;
  align-items: center;
}
.home-grid ion-col {
  justify-content: left;
  text-align: left;
  flex: 6;
}
.home-grid ion-col:first-of-type {
  flex: 3;
}
.home-grid ion-col:last-of-type {
  justify-content: flex-end;
  text-align: center;
  flex: 2;
}
</style>
