<!-- Страница просмотра времени заявок -->
<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Движение заказов</ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- Default Searchbar -->
    <ion-searchbar></ion-searchbar>
    <ion-content>
      <ion-list>
        <ion-row size="3">
          <div v-for="order in orderList" :key="order._id">
            <ion-card v-if="renderComponent">
              <ion-card-header>
                <ion-card-subtitle>
                  ({{ order.orderDate }}) -
                  {{ order.orderId }}
                </ion-card-subtitle>
                <ion-card-title> {{ order.desc }} </ion-card-title>

                <!-- <ion-row>
                  <ion-card-title class="open"
                    >Дата:
                    {{ order.dateOpen | moment('DD.MM.YYYY, h:mm:ss') }}
                  </ion-card-title>
                </ion-row> -->

                <ion-row>
                  <ion-card-title class="open"
                    >Создан:
                    {{ order.dateOpen | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>

                <ion-row v-if="order.dateAssembly != date">
                  <ion-card-title class="assembly"
                    >Сборка:
                    {{ order.dateAssembly | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>

                <ion-row v-if="order.dateDone != date">
                  <ion-card-title class="done"
                    >Готов:
                    {{ order.dateDone | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>

                <ion-row v-if="order.dateDone_ready != date">
                  <ion-card-title class="done_ready">
                    Потвержден:
                    {{ order.dateDone_ready | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>

                <ion-row v-if="order.dateErr != date">
                  <ion-card-title class="error">
                    Ошибка:
                    {{ order.dateErr | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>

                <ion-row v-if="order.dateClose != date">
                  <ion-card-title class="close">
                    Закрыт:
                    {{ order.dateClose | moment('DD.MM.YYYY-HH:mm:ss') }}
                  </ion-card-title>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-row>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script>
import api from '../API/api'

export default {
  name: 'Controll',

  data() {
    return {
      orderList: null,
      renderComponent: true,
      date: '1970-01-01T00:00:00.000Z',
    }
  },
  watch: {
    orderList: {
      handler: function() {
        // Remove my-component from the DOM
        this.renderComponent = false

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true
        })
      },
      deep: true,
    },
  },
  methods: {
    getOrders() {
      const self = this
      api
        .getOrders()
        .then((res) => {
          const isErrors = res.data.isErrors
          if (!isErrors) {
            self.orderList = res.data
          }
        })
        .catch((error) => console.log(error))
    },
  },
  mounted() {
    setInterval(() => {
      this.getOrders()
    }, 50000)
    this.getOrders()
  },
}
</script>

<style scoped>
ion-list-header {
  justify-content: center;
  align-items: center;
}
.open {
  color: gray;
}
.assembly {
  color: orange;
}
.done {
  color: blue;
}
.done_ready {
  color: green;
}
.close {
  color: darkolivegreen;
}
.error {
  color: red;
}
</style>
