<!-- Страница кладовщика -->
<template>
  <ion-page>
    <Cell />
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Склад - Заказы</ion-title>
        <ion-button
          class="btn-haeder"
          color="light"
          slot="end"
          @click="cancel"
          v-show="!show"
        >
          ОТМЕНА
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <Status v-show="!show" :order="order" :show="show" />
      <ion-list v-show="show">
        <ion-row size="3">
          <ion-col
            v-for="order in ORDERS"
            :key="order._id"
            :class="[order.status == 5 ? 'active' : '']"
          >
            <ion-card
              @click="openOrder(order)"
              :class="getStatusClass(order.status)"
              v-if="renderComponent"
            >
              <ion-card-header>
                <ion-card-subtitle :class="getStatusClass(order.status)">
                  ({{ order.orderDate }}) -
                  {{ order.orderId }}
                </ion-card-subtitle>

                <ion-card-title :class="getStatusClass(order.status)">
                  {{ order.desc.toUpperCase() }}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-content>
    <ion-footer v-show="!show">
      <ion-toolbar v-if="order.status != 2">
        <ion-title>
          <ion-col class="row-btn">
            <ion-button
              v-if="order.status === 0"
              id="assembly"
              @click="clickStatus"
              shape="round"
              color="warning"
              >Начать сборку</ion-button
            >
            <ion-button
              v-if="order.status === 1"
              id="done"
              @click="clickStatus"
              shape="round"
              color="secondary"
              >Готово к выдаче</ion-button
            >
            <ion-button
              id="err"
              @click="clickStatus"
              shape="round"
              color="danger"
              v-if="order.status === 1"
              >Ошибка</ion-button
            >
            <ion-button
              v-if="order.status === 4 || order.status === 3"
              id="close"
              @click="clickStatus"
              shape="round"
              color="success"
              >Завершить заказ</ion-button
            >
          </ion-col></ion-title
        >
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script>
import Status from '../components/statusSclad'
import Cell from '../components/modalCellSclad'

import api from '../API/api'

import { mapGetters } from 'vuex'

export default {
  name: 'ScladPage',
  components: {
    Status,
    Cell,
  },
  computed: {
    ...mapGetters(['ORDERS']),
  },
  data() {
    return {
      renderComponent: true,
      show: true,
      order: '',
    }
  },
  watch: {
    ORDERS: {
      handler: function() {
        // Remove my-component from the DOM
        this.renderComponent = false

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true
        })
      },
      deep: true,
    },
  },
  methods: {
    getStatusClass(status) {
      const availableClasses = {
        0: 'open',
        1: 'assembly',
        2: 'done_ready',
        3: 'done',
        4: 'err',
      }
      return availableClasses[status] ? availableClasses[status] : ''
    },
    openOrder(order) {
      this.order = order
      this.show = false
    },
    cancel() {
      this.show = true
    },
    clickStatus(event) {
      this.cancel()
      let order = this.order,
        orderId = this.order._id
      const getStatus = () => {
        api
          .clickAssembly(
            this.order.status,
            orderId,
            this.order.cell,
            this.order.dateAssembly,
            this.order.dateDone,
            this.order.dateDone_ready,
            this.order.dateErr,
            this.order.dateClose
          )
          .then((res) => {
            const isErrors = res.data.isErrors
            if (!isErrors) {
              this.$modal.hide('modalStatus')
            }
          })
          .catch((error) => console.log(error))
      }
      if (event.target.id == 'assembly') {
        this.$emit.show = true
        // this.shangeStatus()
        //Записываем дату события
        const date = new Date()
        this.order.dateAssembly = date.toISOString()
        //Меняем статус и ячейку
        if (this.order.status == 0) {
          this.order.status = 1
          this.order.cell = 0
          getStatus()
        } else {
          alert(`Этот статус можно установить, только когда поступил заказ!`)
        }
      } else if (event.target.id == 'done') {
        //Записываем дату события
        const date = new Date()
        this.order.dateDone = date.toISOString()
        //Меняем статус и ячейку
        if (this.order.status == 1) {
          this.order.status = 2
          this.$modal.show('modalCell', { order: order })
        } else {
          alert(
            `Этот статус можно применить только после статуса "НАЧАТЬ СБОРКУ"!`
          )
        }
      } else if (event.target.id == 'err') {
        //Записываем дату события
        const date = new Date()
        this.order.dateErr = date.toISOString()
        //Меняем статус и ячейку
        if (this.order.status == 1) {
          this.order.status = 4
          this.order.cell = 0
          getStatus()
        } else {
          alert(
            `Этот статус можно применить только после статуса "НАЧАТЬ СБОРКУ" и во время сборки не найден товар на складе!`
          )
        }
      } else {
        //Записываем дату события
        const date = new Date()
        this.order.dateClose = date.toISOString()
        //Меняем статус и ячейку
        if (
          (this.order.cell !== 0 && this.order.status == 3) ||
          this.order.status == 4
        ) {
          this.order.status = 5
          this.order.cell = 0
          getStatus()
        } else {
          alert(
            `Закрыть заказ можно только, когда МАСТЕР СМЕНЫ подвердит, что получил уведомление!`
          )
        }
      }
    },
  },
  mounted() {
    setInterval(() => {
      this.$store.dispatch('GET_ORDERS')
    }, 20000)
    this.$store.dispatch('GET_ORDERS')
  },
}
</script>

<style scoped>
ion-card {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
ion-card-subtitle {
  font-size: 38px;
}
ion-card-title {
  font-size: 48px;
}
.assembly {
  background: yellow;
}
.done_ready {
  background: #3880ff;
  color: white;
}
.done {
  background: green;
  color: white;
}
.err {
  background: red;
  color: white;
}
.active {
  display: none;
}
</style>
