<!-- Модал ячеек склада -->
<template>
  <modal @before-open="beforeOpen" name="modalCell" :height="370" :width="570">
    <div>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modalTitle">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-row>
        <ion-col>
          <ion-button id="1" @click="clickCell" shape="round" fill="outline"
            >1</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="2" @click="clickCell" shape="round" fill="outline"
            >2</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="3" @click="clickCell" shape="round" fill="outline"
            >3</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="4" @click="clickCell" shape="round" fill="outline"
            >4</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="5" @click="clickCell" shape="round" fill="outline"
            >5</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="6" @click="clickCell" shape="round" fill="outline"
            >6</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="7" @click="clickCell" shape="round" fill="outline"
            >7</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="8" @click="clickCell" shape="round" fill="outline"
            >8</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="9" @click="clickCell" shape="round" fill="outline"
            >9</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="10" @click="clickCell" shape="round" fill="outline"
            >10</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="11" @click="clickCell" shape="round" fill="outline"
            >11</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button id="12" @click="clickCell" shape="round" fill="outline"
            >12</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </modal>
</template>

<script>
import { eventBus } from "../eventBus";
import api from "../API/api";

export default {
  name: "modalCell",
  data() {
    return {
      title: "Нужно указать ячейку!!!",
      order: {},
    };
  },
  methods: {
    beforeOpen(event) {
      this.order = event.params.order;
    },
    updateStatus() {
      eventBus.onStatusChange(this.order);
    },
    clickCell(event) {
      const self = this;
      let orderId = this.order._id,
        cell = event.target.id,
        status = this.order.status;
      api
        .clickAssembly(
          status,
          orderId,
          cell,
          self.order.dateAssembly,
          self.order.dateDone,
          self.order.dateDone_ready,
          self.order.dateErr,
          self.order.dateClose
        )
        .then((res) => {
          const isErrors = res.data.isErrors;
          if (!isErrors) {
            this.$modal.hide("modalCell");
          }
        })
        .catch((error) => console.log(error));
    },
  },
  watch: {
    order: {
      handler: function() {
        this.updateStatus();
      },
      deep: true,
    },
  },
  mounted() {},
};
</script>

<style scoped>
ion-button {
  width: 122px;
  height: 87px;
  font-size: 30px;
}
</style>
