<!-- Модал статусов кладовщика -->
<template>
  <ion-content>
    <Cell />
    <ion-grid class="home-grid">
      <ion-list size="12" lines="full">
        <ion-row v-for="item in order.product" :key="item.id">
          <ion-col>
            <ion-item class="second-col">
              <!-- <ion-checkbox
                slot="start"
                v-if="order.status === 1"
              ></ion-checkbox> -->
              <ion-text>
                <p>{{ item.name }}</p>
              </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>
  </ion-content>
</template>

<script>
import Cell from './modalCellSclad.vue'

export default {
  name: 'statusSclad',
  props: ['order'],
  components: {
    Cell,
  },
  data() {
    return {
      title: 'Выбирите действие!!!',
      isChecked: true,
    }
  },
  computed: {},
  methods: {},
}
</script>

<style>
.row-product {
  justify-content: center;
  align-items: center;
}
ion-button {
  height: 50px;
}
</style>
